/* Reset some default styles */

body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Style the navbar */

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 100%;
}

#navbar header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#navbar ul {
  list-style-type: none;
  align-content: flex-start;
}

#navbar ul li {
  margin-bottom: 10px;
}

#navbar .nav-link {
  color: white;
  text-decoration: none;
}

/* Style the main content */

#main-doc {
  margin-left: 260px;
  padding: 20px;
}

.main-section {
  margin-bottom: 40px;
}

.main-section header {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Media query for smaller screens */

@media screen and (max-width: 768px) {
  #navbar {
    width: 100%;
    position: static;
    background-color: #333;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  #main-doc {
    margin-left: 0;
  }
}

.nav-link {
  border-top: white 1px solid;
  padding-top: 6px;
  margin-left: 0;
}

header {
  padding-bottom: 10px;
}

#main-doc li {
  margin-left: 36px;
}

h2, h3 {
  padding-top: 16px;
}

